@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-primary {
  color: #ff900e;
}
.bg-primary {
  background: #ff900e;
}

.title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.sub-title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}

p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: white;
  padding: 13px 18px;
  font-size: 17px;
  cursor: pointer;
}

/* Header Area */

header {
  background-color: #ff900e1a;
  height: 100%;
  padding-bottom: 30px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0px 10px;
}

nav ul li a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.bar {
  display: none;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .wrapper {
  text-align: center;
}

.banner h1 {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
}

.banner p {
  width: 50%;
  margin: 0 auto;
}

.banner button {
  margin: 10px 0;
}

.banner img {
  width: 100%;
}

/* Quick List */
.quick-list {
  padding: 50px 0;
  gap: 70px;
}
.quick-list .image-side {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.quick-list .image-side img {
  width: 100%;
}

.quick-list .content-side {
  width: 50%;
}

.quick-list .content-side .gray-text {
  color: #727272;
  font-weight: 500;
}

/* experience */
.experience {
  gap: 70px;
}

.experience h1 {
  width: 80%;
  border-left: 6px solid #ff900e;
  padding-left: 15px;
}
.content-side {
  width: 50%;
}

.experience .short-content-box {
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.055);
  padding: 10px;
  margin: 20px 0;
}
.experience .short-content-box .sub-title {
  margin: 0;
}
.image-side {
  width: 50%;
  position: relative;
}

.experience img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.experience .experience-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
  z-index: 2;
  position: absolute;
  bottom: -50px;
  left: -50px;
}
.experience .experience-box p {
  color: white;
  margin: 0;
}
.experience .experience-box h1 {
  color: white;
  margin: 0;
}
